/bin/
/lib/*
!lib/Slimefun-5.0.0.jar
/.settings/
/target/
/.idea/
*.iml
.project
.classpath
dependency-reduced-pom.xml
.DS_Store

/REF

/benchmark/build/
/benchmark/results/latest.tsv
/benchmark/server-addon/CHPerfBench.jar
/benchmark/server-addon/build/
benchmark/audit-driver/build/
